:root {
  --violet: hsl(263, 55%, 52%);
  --dark-black-blue: hsl(219, 29%, 14%);
  --dark-gray-blue: hsl(217, 19%, 35%);
  --light-gray-blue: hsl(210, 46%, 95%);
  --light-gray: hsl(0, 0%, 81%);
  --white: hsl(0, 0%, 100%);
  --primary-font: 'Barlow Semi Condensed', sans-serif;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  font-family: var(--primary-font);
  font-size: 0.85rem;
  color: var(--dark-gray-blue);
  background-color: var(--light-gray-blue);
  display: grid;
  grid-template-rows: 1fr auto;
}

.sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

main.container {
  max-width: 320px;
  margin: 2.5rem auto;
}

@media (min-width: 768px) {
  main.container {
    max-width: 650px;
  }
}

@media (min-width: 1200px) {
  main.container {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 768px) {
  section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.25rem;
    grid-template-areas:
      'daniel   patrick'
      'jonathan jeanette'
      'kira     kira';
  }
}

@media (min-width: 1200px) {
  section {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      'daniel   daniel  jonathan  kira'
      'jeanette patrick patrick   kira';
    grid-auto-flow: dense;
  }
}

article {
  padding: 1.5rem;
  margin-bottom: 1.25rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

article:last-of-type {
  margin-bottom: 0;
}

article:nth-of-type(1) {
  background-color: var(--violet);
  background-image: url('../assets/images/bg-pattern-quotation.svg');
  background-repeat: no-repeat;
  background-position: 90% 2%;
}

article:nth-of-type(2) {
  background-color: var(--dark-gray-blue);
}

article:nth-of-type(4) {
  background-color: var(--dark-black-blue);
}

article:nth-of-type(3),
article:nth-of-type(5) {
  background-color: var(--white);
}

article:nth-of-type(1),
article:nth-of-type(2),
article:nth-of-type(4) {
  color: var(--white);
}

@media (min-width: 768px) {
  article {
    margin-bottom: 0;
    justify-content: unset;
  }

  article:nth-of-type(1) {
    grid-area: daniel;
  }

  article:nth-of-type(2) {
    grid-area: jonathan;
  }

  article:nth-of-type(3) {
    grid-area: jeanette;
  }

  article:nth-of-type(4) {
    grid-area: patrick;
  }

  article:nth-of-type(5) {
    grid-area: kira;
  }
}

@media (min-width: 1200px) {
  article {
    padding: 1.85rem;
  }

  article:nth-of-type(1) {
    background-position: 80% 2%;
  }
}

article header {
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: 50px auto;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    'image author'
    'image graduate';
}

article header img {
  width: 35px;
  border-radius: 50%;
  grid-area: image;
}

article header p:nth-of-type(1) {
  grid-area: author;
  align-self: end;
  font-weight: 600;
}

article header p:nth-of-type(2) {
  grid-area: graduate;
  opacity: 0.5;
}

article main h2 {
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

article main > p {
  line-height: 1.45;
  opacity: 0.7;
}

footer {
  margin-bottom: 2rem;
}

.fm-byline {
  font-size: 0.75rem;
  letter-spacing: 1px;
  line-height: 1.5;
  text-align: center;
}

.fm-byline,
.fm-byline a {
  color: hsl(228, 45%, 44%);
}
